<div class="spikeBubble">
	<h1>
		<%= "Welcome #{@user.username}" %>
	</h1>
</div>

<div class="wrapper">
	<div class="account">
		<h3>
			Account Details
		</h3>

		<%= render partial: 'form' %>


		<%= link_to 'Close account', close_profile_path %>
	</div>
</div>
