<div class="spikeBubble">
	<h1>
		ZAP!
	</h1>
</div>

<div class="homeForms">
	<div class="modal">
	  <label for="modal-1">
	    <div class="modal-trigger">
				<p>
					START HERE!
				</p>
			</div>
	  </label>

		<input class="modal-state" id="modal-1" type="checkbox" />

		<div class="modal-fade-screen">
	    <div class="modal-inner">
	      <div class="modal-close" for="modal-1"></div>

				<div class="modal-content">
					<div class="signin">
						<%= render partial: 'sessions/new' %>
					</div>

					<div class="signup">
						<%= render partial: 'users/form' %>
					</div>
				</div>
	    </div>
	  </div>
	</div>
</div>
