/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_self
 */

@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

// $headFontSize: 100px;


@import 'welcome';
@import 'users';
@import 'posts';


html {
 height: 100%;

	body {
		@include outer-container(100%);
		height: 100%;
		padding: 0;
		margin: 0;
		background-image: url('polka.jpg');
		background-repeat: repeat;
		background-size: 350px;

.wrapper-for-content-outside-of-footer {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
		.spikeBubble {
		  @include span-columns(6 of 12);
		  @include shift(3 of 12);
		  background-image: url('spike3.png');
		  background-size: 460px 260px;
		  background-repeat: no-repeat;
		  background-position: center;
		  height: 270px;

			h1 {
		    @include span-columns(4 of 6);
		    @include shift(1);
		    text-align: center;
		    color: $primaryColor;
		    text-shadow: $textShadow;
		  }
		}

	.navBar {
		float: left;
		background-image: url('speech2.png');
		background-repeat: no-repeat;
		background-size: 180px 300px;
		padding: 20px 44px;
		height: 295px;

		nav{
			text-align: center;
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li {
			margin: 0;
			padding: 0;
		}

		a {
			text-decoration: none;
			color: $primaryColor;
			font-size: 2em;
			margin: 0;
			padding: 0;
		}

		input {
			border: none;
			font-size: 2em;
			background-color: $white;
			color: $primaryColor;
			cursor: pointer;
		}
	}
}

	.wrapper-for-content-outside-of-footer:after {
	  content: "";
	  display: block;
	}

	.footer-2, .wrapper-for-content-outside-of-footer:after {
		clear: both;
	  height: 17em;

	  @include media($large-screen) {
	    height: 4em;
	  }
	}

	.footer-2 {
	  $base-spacing: 1em;
	  $action-color: #477DCA !default;
	  $medium-screen: em(640) !default;
	  $large-screen: em(860) !default;
	  $footer-background: $black;
	  $footer-color: white;
	  $footer-link-color: $secondaryColor;
	  $footer-disclaimer-color: transparentize($footer-color, 0.6);

	  background: $footer-background;
	  padding: $base-spacing;
	  width: 100%;
	  display: block;
		// bottom: 0;
	  // position: absolute;
		// height: 100%;

	  .footer-logo {
	    margin: 0 1em 0 0;
	    // margin-bottom: 1em;
			color: $footer-link-color;
			// height: 1em;

			h1 {
				margin: 0;
				font-size: 2em;
			}

	    @include media($large-screen) {
	      float: left;
	      margin-bottom: 0;
	    }
	  }

	  .footer-logo img {
	    height: 1.6em;
	  }

	  ul {
	    line-height: 1.5em;
	    margin: 0 0 1em 0;
	    padding: 0;

	    @include media($large-screen) {
	      float: left;
	      line-height: 2em;
	      margin-left: 1em;
	      margin-bottom: 0;
	    }
	  }

	  ul li {
	    // font-weight: 800;
	    list-style: none;
	    padding-right: 1em;

	    @include media($large-screen) {
	      display: inline;
	      text-align: left;
	    }
	  }

	  ul li a {
	    color: $footer-link-color;
	    text-decoration: none;
			font-size: 2em;

	    &:focus,
	    &:hover {
	      color: transparentize($footer-color, 0);
	    }
	  }

	  .footer-secondary-links {
	    @include media($large-screen) {
	      float: right;
	    }

	    li {
	      font-size: 0.8em;
	      font-weight: 400;
	    }

	    ul.footer-social {
	      margin: 1em 0 0 0;

	      @include media($large-screen) {
	        float: right;
	        margin-top: 0;
	      }

	      li {
	        font-size: 1em;
	        float: left;
	        line-height: 0;
	        margin: 0;
	        padding-right: 0.7em;

	        &:last-child {
	          padding-right: 0;
	        }
	      }

	      img {
	        height: 1em;
	        opacity: 0.7;
	        padding: 1px;
					border-radius: 10px;

	        &:focus,
	        &:hover {
	          opacity: 1;
	        }
	      }
	    }
	  }
	}

	// .icon {
	// 	width: 44px;
	// 	// height: auto;
	// 	margin: 5px;
	// }

	// .memList {
	// 	background-color: $black;
	// 	width: 700px;
	// 	margin: 0 auto;
	// 	padding: 2px;
	// 	list-style-type: none;
	// 	text-align: center;
	// 	border: $mainBorder;
	// 	font-size: 28px;
	// 	box-shadow: $boxShadow;
	//
	// 	li {
	// 		border: $mainBorder;
	// 		padding: 3px;
	// 		margin: 2px;
	// 	}
	}
}
