// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spikeBubble {
  h1 {
    font-size: 5em;
    margin-top: 80px;
  }
}

.wrapper {
  @include span-columns(4 of 12);
  @include shift(4 of 12);
  clear: both;
  .profileInfo {
    background-color: $white;
    border: $mainBorder;
    padding: 3px;
    height: 86px;
    margin-bottom: 20px;
    box-shadow: $boxShadow;

    .profileLeft, .profileRight {
      @include span-columns(2 of 4);
      display: inline-block;
      // border: $mainBorder;
      padding: 0 2px;

      ul {
        @include span-columns(2 of 2);
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          @include span-columns(2 of 2);
          border: $mainBorder;
          margin: 2px;
        }
      }
    }
  }

  .feedForm {
    @include span-columns(6 of 6);

    textarea {
      @include span-columns(6 of 6);
      box-shadow: $boxShadow;
      border: $mainBorder;
      margin-bottom: 10px;
    }

    .feedSub input[type="submit"] {
      @include span-columns(6 of 6);
      border: $mainBorder;
      font-family: $mainFont;
      box-shadow: $boxShadow;
      color: $primaryColor;
      background-color: $secondaryColor;
      font-size: 3em;
    }
  }
}
