// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spikeBubble {
  h1 {
    font-size: 5em;
    margin-top: 80px;
  }
}

.wrapper {
  @include span-columns(4 of 12);
  @include shift(4 of 12);
  clear: both;

  .profileInfo {
    background-color: $white;
    border: $mainBorder;
    padding: $mainPadding;
    height: 105px;
    margin-bottom: 20px;
    box-shadow: $boxShadow;

    .profileLeft, .profileRight {
      @include span-columns(2 of 4);
      display: inline-block;
      // border: $mainBorder;
      padding: 0 2px;

      ul {
        @include span-columns(2 of 2);
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          @include span-columns(2 of 2);
          border: $mainBorder;
          margin: 2px;
        }
      }
    }
  }

  .feedForm {
    @include span-columns(6 of 6);

    textarea {
      @include span-columns(6 of 6);
      box-shadow: $boxShadow;
      border: $mainBorder;
      margin-bottom: 10px;
      height: 5em;
    }

    .feedSub input[type="submit"] {
      @include span-columns(6 of 6);
      border: $mainBorder;
      // font-family: $mainFont;
      box-shadow: $boxShadow;
      color: $primaryColor;
      background-color: $secondaryColor;
      font-size: 3em;
      padding: 0;
    }
  }

  .account {
    background-color: $white;
    border: $mainBorder;
    padding: $mainPadding;
    margin-bottom: 10px;

    h3 {
      background-color: $secondaryColor;
      color: $primaryColor;
      border: $mainBorder;
      margin: $mainPadding;
      font-size: 4em;
      text-align: center;
    }

    .signForm {
      padding: $mainPadding;
      border: $mainBorder;
      margin: 0 $mainPadding;

      input {
        border: $mainBorder;
        margin-bottom: 0px;
      }
    }

    input[type="submit"] {
      width: 99%;
      border: $mainBorder;
      color: $secondaryColor;
      font-size: 4em;
      padding: 0;
      margin: 10px $mainPadding;
    }
  }

  .warning {
    background-color: $white;
    border: $mainBorder;
    padding: $mainPadding;

    p {
      font-size: 2em;
      text-align: center;
    }

    .deletion {
      border: $mainBorder;
      padding: $mainPadding;


      h3 {
        border: $mainBorder;
        margin-bottom: $mainPadding;
        background-color: $secondaryColor;
        color: $primaryColor;
        font-size: 2em;
        text-align: center;
      }

      .closer {
        width: 145px;
        margin: 0 auto;
      }
    }
  }
}
